Repository hexlet-basics/hexlet-basics: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop, npx stylelint, bundle exec slim-lint

.lintstagedrc.json:

{
  "**/*.{rb,rake,axlsx}": "bundle exec rubocop",
  "**/*.scss": "npx stylelint",
  "**/*.js?(x)": "npx eslint",
  "**/*.html.slim": "bundle exec slim-lint"
}

:rocket: deploy
  k8s/hb-app-chart/values.yaml
Due: none

fix layout-designer highlight mapping
  app/javascript/lesson/utils/editorUtils.js
Due: none

improve page for the authors (#358)
  app/lib/external_links.rb
  app/views/layouts/shared/_footer.html.slim
  app/views/web/pages/_body_authors.en.html.slim
  app/views/web/pages/_body_authors.ru.html.slim
  config/locales/en.layouts.yml
  config/locales/ru.layouts.yml
  config/locales/ru.links.yml
  config/locales/ru.views.yml
Due: bundle exec rubocop, bundle exec slim-lint

add test for authors page
  test/controllers/web/pages_controller_test.rb
Due: bundle exec rubocop

improve links on authors page
  app/views/web/pages/_body_authors.ru.html.slim
Due: bundle exec slim-lint

improve authors page
  app/views/web/pages/_body_authors.ru.html.slim
  config/locales/ru.links.yml
Due: bundle exec slim-lint

improve layout designer editor
  app/javascript/lesson/utils/languagesUtils.js
Due: none

add highlight editor on layout designer
  app/javascript/lesson/utils/editorUtils.js
Due: none

hide free badge for preparatory course
  app/views/web/languages/show.html.slim
Due: bundle exec slim-lint

improve markup on authors page
  app/views/web/pages/_body_authors.ru.html.slim
Due: bundle exec slim-lint

merge
  app/assets/fonts/bootstrap-icons.ttf
  app/views/web/pages/_about.html.slim
  app/views/web/pages/_authors.html.slim
  app/views/web/pages/_body_about.en.html.slim
  app/views/web/pages/_body_about.ru.html.slim
  app/views/web/pages/_body_authors.en.html.slim
  app/views/web/pages/_body_authors.ru.html.slim
  app/views/web/pages/_body_privacy.en.html.slim
  app/views/web/pages/_body_privacy.ru.html.slim
  app/views/web/pages/_body_tos.en.html.slim
  app/views/web/pages/_body_tos.ru.html.slim
  app/views/web/pages/_cookie_policy.html.slim
  app/views/web/pages/_privacy.html.slim
  app/views/web/pages/_tos.html.slim
  app/views/web/pages/show.html.slim
Due: bundle exec slim-lint

merge
  app/assets/images/dlang.png
  app/assets/images/layout-designer.png
  app/controllers/web/home_controller.rb
  app/controllers/web/language_categories_controller.rb
  app/controllers/web/languages_controller.rb
  app/helpers/application_helper.rb
  app/javascript/entrypoints/application.scss
  app/javascript/lesson/utils/editorUtils.js
  app/javascript/lesson/utils/languagesUtils.js
  app/javascript/lib/hljs.js
  app/javascript/stylesheets/bootstrap-icons.css
  app/javascript/stylesheets/devicon.css
  app/lib/external_links.rb
  app/models/language.rb
  app/repositories/language/version/info_repository.rb
  app/repositories/language_repository.rb
  app/views/layouts/shared/_footer.html.slim
  app/views/web/languages/show.html.slim
  config/locales/en.layouts.yml
  config/locales/en.links.yml
  config/locales/en.views.yml
  config/locales/ru.layouts.yml
  config/locales/ru.links.yml
  config/locales/ru.views.yml
  k8s/hb-app-chart/values.yaml
  make-compose-app.mk
  package-lock.json
  package.json
  test/controllers/web/pages_controller_test.rb
  test/fixtures/languages.yml
  webpack.config.js
Due: bundle exec rubocop, npx stylelint, bundle exec slim-lint

fix position google-one-tap
  app/views/web/shared/_google_one_tap.html.slim
Due: bundle exec slim-lint

fix position google one tap
  app/views/web/shared/_google_one_tap.html.slim
Due: bundle exec slim-lint

add image powershell
  app/assets/images/powershell.png
Due: none

add link to recommendations for the author in flash
  app/controllers/web/languages_controller.rb
  config/locales/en.flash.yml
  config/locales/ru.flash.yml
Due: bundle exec rubocop

update ruby version
  Dockerfile
  Dockerfile.production
Due: none

update deps
  Gemfile.lock
  package-lock.json
  package.json
Due: none

fix offences
  app/models/blog_post.rb
  app/models/language.rb
  app/models/language/member.rb
  app/models/language/version.rb
  app/models/review.rb
  app/models/user.rb
Due: bundle exec rubocop

add streaming to users csv
  app/controllers/web/admin/management/users_controller.rb
Due: bundle exec rubocop

locked esbuild-loader version
  package.json
Due: none

update esbuild-loader
  package.json
  webpack.config.js
Due: none

dont use rails when compile assets
  config/environments/production.rb
Due: bundle exec rubocop

fix streaming
  app/controllers/web/admin/management/users_controller.rb
Due: bundle exec rubocop

add last-modify header
  app/controllers/web/admin/management/users_controller.rb
Due: bundle exec rubocop

add autocomplete attribute to email and password fields to comply with the chrome design recommendations
  app/views/web/home/index.html.slim
  app/views/web/passwords/edit.html.slim
  app/views/web/sessions/new.html.slim
  app/views/web/users/new.html.slim
Due: bundle exec slim-lint

replace link slack on authors pages
  app/views/web/pages/_body_authors.ru.html.slim
  config/locales/en.links.yml
  config/locales/ru.links.yml
Due: bundle exec slim-lint

fix name channel
  app/views/web/pages/_body_authors.ru.html.slim
Due: bundle exec slim-lint

replace link slack on authors pages (#372)
  app/views/web/pages/_body_authors.ru.html.slim
  config/locales/en.links.yml
  config/locales/ru.links.yml
Due: bundle exec slim-lint

fix missing trenasltion
  config/locales/en.flash.yml
  config/locales/ru.flash.yml
Due: none
