Repository hexlet-basics/hexlet-basics: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop, npx stylelint, bundle exec slim-lint

fix aith through github
  app/services/social_network_service.rb
Due: bundle exec rubocop

[#404] explain how to manage admin panel (#406)
  README.md
Due: none

:rocket: deploy
  k8s/hb-app-chart/values.yaml
Due: none

Add header static links (bootcamps, carreras, nosotros)
  app/views/layouts/shared/_nav.html.slim
  config/locales/es.layouts.yml
Due: bundle exec slim-lint

Remove language category breadcrumb from lesson page
  app/views/web/languages/show.html.slim
Due: bundle exec slim-lint

Change error feedback link
  app/views/web/languages/lessons/_content.html.slim
Due: bundle exec slim-lint

Change community link
  app/views/web/languages/lessons/show.html.slim
Due: bundle exec slim-lint

Change success links
  app/lib/external_links.rb
  config/locales/es.links.yml
Due: bundle exec rubocop

add spanish locale
  app/assets/locales/es.js
Due: none

add spanish locale to the list
  app/assets/locales/index.js
Due: none

Revert "add spanish locale to the list"
  app/assets/locales/index.js
Due: none

add comma
  app/assets/locales/index.js
Due: none

Remove categories from header
  app/views/layouts/shared/_nav.html.slim
Due: bundle exec slim-lint

Fix lesson processing
  app/assets/locales/index.js
  app/controllers/concerns/locale_concern.rb
  app/lib/configus.rb
Due: bundle exec rubocop

Fix locale yml
  config/locales/es.views.yml
Due: none

fixed text
  config/locales/es.views.yml
Due: none

add transition event from blogpost
  app/forms/admin/blog_post_form.rb
  app/models/blog_post.rb
Due: bundle exec rubocop

fix state from review
  app/models/review.rb
  test/controllers/web/admin/reviews_controller_test.rb
Due: bundle exec rubocop

add translation
  config/locales/ru.activerecord.yml
Due: none

add translation flash
  config/locales/en.flash.yml
  config/locales/ru.flash.yml
Due: none

add spanish translation
  app/lib/exercise_loader.rb
Due: bundle exec rubocop

[#412] explain steps to preparing pulling image locally at README
  README.md
Due: none

[#413] add FAQ, explain what to do when it isn't possible to commit your changes
  README.md
Due: none

[#412] explain steps to preparing pulling image locally at README (#414)
  README.md
Due: none

[#413] replace workaround with good option in first FAQ
  README.md
Due: none

[#413] rename FAQ section name to Troubleshooting
  README.md
Due: none

[#413] add Troubleshooting section, explain what to do when it isn't possible to commit your changes (#415)
  README.md
Due: none

codica.la links
  app/assets/locales/es.js
  app/lib/external_links.rb
Due: bundle exec rubocop

main menu
  app/assets/images/logo_codica.svg
  app/views/layouts/shared/_nav.html.slim
Due: bundle exec slim-lint

social links restored
  app/views/layouts/shared/_footer.html.slim
Due: bundle exec slim-lint

social links
  config/locales/es.links.yml
Due: none

comment out blog and reviews
  app/views/web/home/index.html.slim
Due: bundle exec slim-lint

fixed tag error
  app/views/web/home/index.html.slim
Due: bundle exec slim-lint

slim style comments
  app/views/web/home/index.html.slim
Due: bundle exec slim-lint

remove blog posts
  app/views/web/language_categories/show.html.slim
Due: bundle exec slim-lint

remove blog title
  app/views/web/language_categories/show.html.slim
Due: bundle exec slim-lint

change favicon
  app/assets/images/favicon.png
  app/assets/images/favicon_old.ico
Due: none

change favicon link
  app/views/layouts/shared/_head.html.slim
Due: bundle exec slim-lint

Path conditions:
  bundle exec rubocop: any of: **/*.{rb,rake,axlsx}
  npx stylelint: any of: **/*.scss
  bundle exec slim-lint: any of: **/*.html.slim
