Repository hexlet-basics/hexlet-basics: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop, npx stylelint, bundle exec slim-lint

.lintstagedrc.json:

{
  "**/*.{rb,rake,axlsx}": "bundle exec rubocop",
  "**/*.scss": "npx stylelint",
  "**/*.js?(x)": "npx eslint",
  "**/*.html.slim": "bundle exec slim-lint"
}

pre course javascript
  app/assets/images/pre-course-javascript.png
  app/helpers/application_helper.rb
  app/javascript/lesson/utils/editorUtils.js
  app/javascript/lesson/utils/languagesUtils.js
  app/javascript/stylesheets/devicon.css
  app/models/language.rb
Due: bundle exec rubocop

add language to editor
  app/javascript/lesson/utils/editorUtils.js
Due: none

:rocket: deploy
  k8s/hb-app-chart/values.yaml
Due: none

change promos to utms
  app/assets/locales/ru.js
  config/locales/en.links.yml
  config/locales/ru.links.yml
Due: none

fix lesson tab bg
  app/views/web/languages/lessons/_lesson_tab.html.slim
Due: bundle exec slim-lint

show links to another locale if exists
  app/controllers/web/application_controller.rb
  app/controllers/web/language_categories_controller.rb
  app/controllers/web/languages/lessons_controller.rb
  app/controllers/web/languages_controller.rb
  app/views/layouts/shared/_nav.html.slim
Due: bundle exec rubocop, bundle exec slim-lint

fix colors
  app/helpers/application_helper.rb
  app/javascript/stylesheets/custom.scss
  app/views/web/home/index.html.slim
  app/views/web/languages/lessons/_lesson_tab.html.slim
  app/views/web/sessions/new.html.slim
  app/views/web/users/new.html.slim
Due: bundle exec rubocop, npx stylelint, bundle exec slim-lint

show links to another locale if exists (#396)
  app/controllers/web/application_controller.rb
  app/controllers/web/language_categories_controller.rb
  app/controllers/web/languages/lessons_controller.rb
  app/controllers/web/languages_controller.rb
  app/views/layouts/shared/_nav.html.slim
Due: bundle exec rubocop, bundle exec slim-lint

add cpu quota for docker run command
  app/lib/docker_exercise_api.rb
Due: bundle exec rubocop

sanitize output
  app/lib/docker_exercise_api.rb
  app/lib/lesson_tester.rb
Due: bundle exec rubocop

fix var name
  app/lib/lesson_tester.rb
Due: bundle exec rubocop

fix
  app/lib/lesson_tester.rb
Due: bundle exec rubocop

add cpu quota for docker run command (#400)
  app/lib/lesson_tester.rb
Due: bundle exec rubocop

fix linter offences
  app/lib/lesson_tester.rb
Due: bundle exec rubocop

add dlang to editorMapping
  app/javascript/lesson/utils/editorUtils.js
  app/javascript/lesson/utils/languagesUtils.js
Due: none

update k8s version
  terraform/main.tf
Due: none

raise error if docker pull command return status is not 200
  app/lib/docker_exercise_api.rb
  app/lib/exercise_loader.rb
Due: bundle exec rubocop

add bash comand
  app/lib/docker_exercise_api.rb
Due: bundle exec rubocop

spanish translation
  config/locales/es.activemodel.yml
  config/locales/es.activerecord.yml
  config/locales/es.enumerize.yml
  config/locales/es.faq.yml
  config/locales/es.flash.yml
  config/locales/es.helpers.yml
  config/locales/es.layouts.yml
  config/locales/es.links.yml
  config/locales/es.mailers.yml
  config/locales/es.views.yml
  config/locales/es.yml
  config/locales/simple_form.es.yml
Due: none

fix get_complete_icon_name
  app/helpers/application_helper.rb
Due: bundle exec rubocop

Remove 'about codebasics' menu
  app/views/layouts/shared/_nav.html.slim
  config/locales/ru.layouts.yml
Due: bundle exec slim-lint

Reduce footer
  app/views/layouts/shared/_footer.html.slim
Due: bundle exec slim-lint

Remove social links
  app/views/layouts/shared/_footer.html.slim
Due: bundle exec slim-lint

Remove locale selector
  app/views/layouts/shared/_nav.html.slim
Due: bundle exec slim-lint

fixed spanish translation
  config/locales/es.views.yml
Due: none

take into account the change of email when authenticating through github
  app/controllers/web/auth_controller.rb
  app/lib/events_mapping.rb
  app/services/social_network_service.rb
Due: bundle exec rubocop

Base spanish localization
  app/assets/images/code-basics-coding-es.png
  app/models/language/category.rb
  app/views/web/home/_reviews.es.html.slim
  config/initializers/locale.rb
  config/locales/es.views.yml
  config/locales/es.yml
  config/routes.rb
  lib/tasks/populate_language_version_info.rake
  lib/tasks/populate_lesson_version_info.rake
Due: bundle exec rubocop, bundle exec slim-lint

Remove prepare_locale_settings
  app/controllers/web/application_controller.rb
Due: bundle exec rubocop

add link to hexlet in copy
  app/views/layouts/shared/_footer.html.slim
  config/locales/en.layouts.yml
  config/locales/ru.layouts.yml
Due: bundle exec slim-lint

fix
  app/controllers/web/auth_controller.rb
  app/lib/service_result.rb
  app/services/social_network_service.rb
Due: bundle exec rubocop

fix
  app/services/social_network_service.rb
Due: bundle exec rubocop

[#399] take into account the change of email when authenticating through github (#403)
  app/controllers/web/auth_controller.rb
  app/lib/events_mapping.rb
  app/lib/service_result.rb
  app/services/social_network_service.rb
Due: bundle exec rubocop

[#404] explain how to manage admin panel
  README.md
Due: none
