Repository hexlet-basics/hexlet-basics: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop, npx stylelint, bundle exec slim-lint

.lintstagedrc.json:

{
  "**/*.{rb,rake,axlsx}": "bundle exec rubocop",
  "**/*.scss": "npx stylelint",
  "**/*.js?(x)": "npx eslint",
  "**/*.html.slim": "bundle exec slim-lint"
}

fix n+1 queries
  app/controllers/web/languages/lessons_controller.rb
Due: bundle exec rubocop

:rocket: deploy
  k8s/hb-app-chart/values.yaml
Due: none

add en links for ru locale footer
  app/helpers/application_helper.rb
  app/views/layouts/shared/_footer.html.slim
  config/locales/ru.layouts.yml
Due: bundle exec rubocop, bundle exec slim-lint

fix encoding for exercise checking output
  app/javascript/lesson/components/Output.jsx
Due: none

Delete yandex_2c90327bd06f9050.html
  public/yandex_2c90327bd06f9050.html
Due: none

add note for sultion with incorrect encoding
  app/javascript/lesson/components/Output.jsx
Due: none

improve footer layout
  app/views/layouts/shared/_footer.html.slim
Due: bundle exec slim-lint

update images
  app/assets/images/ocaml.png
  app/assets/images/ocaml.svg
  app/assets/images/perl.png
  app/assets/images/perl.svg
  app/assets/images/rust.png
  app/assets/images/rust.svg
Due: none

add en links for ru locale footer (#389)
  app/helpers/application_helper.rb
  app/views/layouts/shared/_footer.html.slim
  config/locales/ru.layouts.yml
Due: bundle exec rubocop, bundle exec slim-lint

fix languages menu
  app/views/web/home/_languages.html.slim
Due: bundle exec slim-lint

update deps
  Gemfile.lock
  app/javascript/entrypoints/application.scss
  app/javascript/stylesheets/custom.scss
  package-lock.json
  package.json
Due: npx stylelint

fix offences
  test/controllers/web/admin/blog_posts_controller_test.rb
  test/controllers/web/admin/reviews_controller_test.rb
Due: bundle exec rubocop

update token for sentry
  .gitignore
  ansible/production/group_vars/all/vault.yml
Due: none

fix translations
  app/views/layouts/shared/_footer.html.slim
  config/locales/ru.layouts.yml
Due: bundle exec slim-lint

use default locale for en links in footer
  app/views/layouts/shared/_footer.html.slim
Due: bundle exec slim-lint

fix locale in eng links in footer
  app/views/layouts/shared/_footer.html.slim
Due: bundle exec slim-lint

update redis version
  ansible/production/group_vars/all/vars.yml
Due: none

update terraform
  ansible/production/group_vars/all/vars.yml
  ansible/templates/secrets.auto.tfvars.j2
  terraform/datasource.tf
  terraform/main.tf
  terraform/outputs.tf
  terraform/variables.tf
Due: none

remove inccorect characters from exercise output
  app/lib/lesson_tester.rb
Due: bundle exec rubocop

add precource java
  app/assets/images/pre-course-java.png
  app/assets/images/pre-course-java.svg
  app/helpers/application_helper.rb
  app/javascript/lesson/utils/editorUtils.js
  app/javascript/lesson/utils/languagesUtils.js
  app/models/language.rb
Due: bundle exec rubocop

remove svg
  app/assets/images/pre-course-java.svg
Due: none

fix
  app/assets/images/pre-course-java.svg
Due: none

add css syle
  app/javascript/stylesheets/devicon.css
Due: none

fix signin/signup cards bg
  app/views/web/home/index.html.slim
  app/views/web/sessions/new.html.slim
  app/views/web/users/new.html.slim
Due: bundle exec slim-lint

pre cource python
  app/assets/images/pre-course-python.png
  app/assets/images/pre-course-python.svg
  app/helpers/application_helper.rb
  app/javascript/lesson/utils/editorUtils.js
  app/javascript/lesson/utils/languagesUtils.js
  app/javascript/stylesheets/devicon.css
  app/models/language.rb
Due: bundle exec rubocop
