Repository hexlet-basics/hexlet-basics: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop, npx stylelint, bundle exec slim-lint

.lintstagedrc.json:

{
  "**/*.{rb,rake,axlsx}": "bundle exec rubocop",
  "**/*.scss": "npx stylelint",
  "**/*.js?(x)": "npx eslint",
  "**/*.html.slim": "bundle exec slim-lint"
}

deploy
  k8s/hb-app-chart/values.yaml
Due: none

:rocket: deploy
  k8s/hb-app-chart/values.yaml
Due: none

add instruction about deploy
  README.md
Due: none

fix
  README.md
Due: none

add imported_at and last versions state
  app/views/web/admin/languages/index.html.slim
Due: bundle exec slim-lint

update deps
  Gemfile.lock
  package-lock.json
  package.json
Due: none

add spacing on profile edit page
  app/views/web/account/profiles/edit.html.slim
Due: bundle exec slim-lint

fix filter in admin users
  app/views/web/admin/management/users/_filter.html.slim
Due: bundle exec slim-lint

update hexlet logo
  app/assets/images/hexlet_logo.png
Due: none

add missing translation
  config/locales/ru.views.yml
Due: none

improve cards layout
  app/views/web/shared/_blog_posts.html.slim
Due: bundle exec slim-lint

change language title size
  app/views/web/languages/show.html.slim
Due: bundle exec slim-lint

try fix reviews
  app/views/web/admin/reviews/_form.html.slim
Due: bundle exec slim-lint

fix table head on reviews
  app/views/web/admin/reviews/index.html.slim
Due: bundle exec slim-lint

update gems
  Gemfile.lock
Due: none

update working with jbuilder
  app/controllers/web/admin/api/users_controller.rb
  app/controllers/web/home_controller.rb
  app/helpers/application_helper.rb
  app/schemas/faq_schema.rb
  app/schemas/item_list_schema.rb
  app/schemas/language_schema.rb
  app/schemas/organization_schema.rb
  app/schemas/provider_schema.rb
  app/views/schemas/_course.json.jbuilder
  app/views/schemas/_faq.json.jbuilder
  app/views/schemas/_organization.json.jbuilder
  app/views/web/admin/api/users/search.json.jbuilder
  app/views/web/home/index.html.slim
  config/locales/ru.yml
  test/controllers/web/admin/api/users_controller_test.rb
Due: bundle exec rubocop, bundle exec slim-lint

improve workdir
  Dockerfile
  Dockerfile.production
  ansible/templates/environment.j2
  docker-compose.override.yml
Due: none

fix errors
  app/controllers/web/blog_posts_controller.rb
  app/controllers/web/home_controller.rb
  app/controllers/web/language_categories_controller.rb
  app/controllers/web/languages_controller.rb
  app/controllers/web/reviews_controller.rb
  app/lib/configus.rb
  app/schemas/breadcrumb_list_schema.rb
  app/schemas/course_schema.rb
  app/schemas/item_list_schema.rb
  app/schemas/organization_schema.rb
  app/schemas/review_schema.rb
  app/views/layouts/shared/_footer.html.slim
  app/views/web/language_categories/show.html.slim
  app/views/web/languages/show.html.slim
  app/views/web/reviews/show.html.slim
  app/views/web/shared/_faq.html.slim
Due: bundle exec rubocop, bundle exec slim-lint

fix constant name
  app/schemas/faq_schema.rb
Due: bundle exec rubocop

bump ga versions
  .github/workflows/pullrequest.yml
  .github/workflows/push.yml
  .github/workflows/release.yml
Due: none

bump ga docker/login-action version
  .github/workflows/push.yml
  .github/workflows/release.yml
Due: none

fix path to assets in prod image of app
  services/web-nginx/Dockerfile
Due: none

try cache docker layer :)
  Dockerfile.production
Due: none

skip lint on deploy commit
  k8s/Makefile
Due: none

fix path of deploy-notify
  k8s/hb-app-chart/values.yaml
Due: none

update npm deps
  package-lock.json
  package.json
Due: none

update reviews
  app/controllers/web/admin/reviews_controller.rb
  app/forms/admin/review_form.rb
  app/models/review.rb
  app/views/web/admin/reviews/_form.html.slim
  db/migrate/20221220005735_add_name_to_reviews.rb
  db/schema.rb
  test/controllers/web/admin/reviews_controller_test.rb
  test/factories/reviews.rb
  test/fixtures/reviews.yml
  test/models/review_test.rb
Due: bundle exec rubocop, bundle exec slim-lint

change reviews title size
  app/views/web/reviews/index.html.slim
Due: bundle exec slim-lint

show review with locale
  app/controllers/web/reviews_controller.rb
  app/models/review.rb
  app/repositories/review_repository.rb
  test/fixtures/reviews.yml
Due: bundle exec rubocop

show blog posts with locale
  app/controllers/web/blog_posts_controller.rb
  app/models/blog_post.rb
  app/repositories/blog_post_repository.rb
Due: bundle exec rubocop
