Repository hexlet-basics/hexlet-basics: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop, npx stylelint, bundle exec slim-lint

.lintstagedrc.json:

{
  "**/*.{rb,rake,axlsx}": "bundle exec rubocop",
  "**/*.scss": "npx stylelint",
  "**/*.js?(x)": "npx eslint",
  "**/*.html.slim": "bundle exec slim-lint"
}

redirect to ru locale for prefered ru in browser
  app/controllers/web/application_controller.rb
Due: bundle exec rubocop

add perl language
  app/helpers/application_helper.rb
  app/javascript/lesson/utils/editorUtils.js
  app/javascript/lib/hljs.js
  app/models/language.rb
  config/locales/en.views.yml
Due: bundle exec rubocop

add perl icons
  app/assets/images/perl.png
  app/assets/images/perl.svg
Due: none

change nav-link style
  app/helpers/application_helper.rb
Due: bundle exec rubocop

add missing transaltion
  app/views/web/admin/blog_posts/new.html.slim
  app/views/web/admin/home/index.html.slim
  app/views/web/admin/languages/new.html.slim
  app/views/web/admin/reviews/new.html.slim
  config/locales/en.views.yml
  config/locales/ru.views.yml
  config/locales/simple_form.en.yml
  config/locales/simple_form.ru.yml
Due: bundle exec slim-lint

:rocket: deploy
  k8s/hb-app-chart/values.yaml
Due: none

fix rtl/ltr styles
  webpack.config.js
Due: none

add ocaml language
  app/assets/images/ocaml.png
  app/assets/images/ocaml.svg
  app/helpers/application_helper.rb
  app/javascript/lesson/utils/editorUtils.js
  app/javascript/lib/hljs.js
  app/models/language.rb
  config/locales/en.views.yml
  make-compose-app.mk
Due: bundle exec rubocop

remove renta from partytown
  app/views/layouts/deps/_renta_head.html.slim
Due: bundle exec slim-lint

revert test bundle install
  Dockerfile.production
Due: none

move to jemalloc image of ruby
  Dockerfile
  Dockerfile.production
Due: none

change inputs span value
  config/locales/simple_form.en.yml
  config/locales/simple_form.ru.yml
  webpack.config.js
Due: none

improve reviews page
  app/views/web/reviews/index.html.slim
  config/locales/en.views.yml
  config/locales/ru.views.yml
  test/fixtures/reviews.yml
Due: bundle exec slim-lint

Fix tooltip visibility while going outside borders
  app/javascript/lesson/components/Editor.jsx
Due: none

fix reviews/show
  app/views/web/reviews/show.html.slim
  docker-compose.override.yml
  docker-compose.yml
Due: bundle exec slim-lint

update gems
  Gemfile.lock
Due: none

update npm packages
  package-lock.json
  package.json
Due: none

integrate sorbet
  .gitignore
  Gemfile
  Gemfile.lock
  Makefile
Due: none

fix sorbet setup
  Dockerfile
  Gemfile.lock
  bin/sorbet
  docker-compose.override.yml
Due: none

add google one tapauth
  Gemfile
  Gemfile.lock
  app/controllers/web/google_auth_controller.rb
  app/services/google_auth_service.rb
  app/views/web/home/index.html.slim
  app/views/web/shared/_google_one_tap.html.slim
  config/locales/en.flash.yml
  config/locales/ru.flash.yml
  config/routes.rb
  test/controllers/web/google_auth_controller_test.rb
Due: bundle exec rubocop, bundle exec slim-lint

add dart and crystal
  app/javascript/lesson/utils/editorUtils.js
  app/javascript/lib/hljs.js
  app/models/language.rb
  config/locales/en.views.yml
  make-compose-app.mk
Due: bundle exec rubocop

add stubs images
  app/assets/images/crystal.png
  app/assets/images/crystal.svg
  app/assets/images/dart.png
  app/assets/images/dart.svg
Due: none

fix amp pages with html form examples and iframes
  app/views/layouts/application.amp.slim
  app/views/web/languages/lessons/show.amp.slim
Due: none

fix N+1 offences by bullet on home page
  app/controllers/web/application_controller.rb
  app/controllers/web/home_controller.rb
Due: bundle exec rubocop

add nofollow to switch locale link
  app/views/layouts/shared/_nav.html.slim
Due: bundle exec slim-lint

move to ruby 3.2
  .rubocop.yml
  Dockerfile
  Dockerfile.production
  Gemfile.lock
Due: none

limit memory for check running docker container
  app/lib/docker_exercise_api.rb
Due: bundle exec rubocop

fix [#352] fix lessons sort in lesson show nav tab
  app/controllers/web/languages/lessons_controller.rb
Due: bundle exec rubocop

change title
  config/locales/en.views.yml
Due: none
