Repository hexlet-basics/hexlet-basics: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop, npx stylelint, bundle exec slim-lint

add color background to language images
  app/assets/images/bash.png
  app/assets/images/clang.png
  app/assets/images/clojure.png
  app/assets/images/cpp.png
  app/assets/images/csharp.png
  app/assets/images/css.png
  app/assets/images/elixir.png
  app/assets/images/fortran.png
  app/assets/images/go.png
  app/assets/images/haskell.png
  app/assets/images/html.png
  app/assets/images/java.png
  app/assets/images/javascript.png
  app/assets/images/kotlin.png
  app/assets/images/lua.png
  app/assets/images/ocaml.png
  app/assets/images/perl.png
  app/assets/images/php.png
  app/assets/images/prolog.png
  app/assets/images/python.png
  app/assets/images/racket.png
  app/assets/images/ruby.png
  app/assets/images/rust.png
  app/assets/images/swift.png
  app/assets/images/typescript.png
Due: none

add gon.language filling on the language pages
  app/controllers/web/languages_controller.rb
Due: bundle exec rubocop

reduce image file sizes
  app/assets/images/bash.png
  app/assets/images/clang.png
  app/assets/images/clojure.png
  app/assets/images/cpp.png
  app/assets/images/csharp.png
  app/assets/images/css.png
  app/assets/images/elixir.png
  app/assets/images/fortran.png
  app/assets/images/go.png
  app/assets/images/haskell.png
  app/assets/images/html.png
  app/assets/images/java.png
  app/assets/images/javascript.png
  app/assets/images/kotlin.png
  app/assets/images/lua.png
  app/assets/images/ocaml.png
  app/assets/images/perl.png
  app/assets/images/php.png
  app/assets/images/prolog.png
  app/assets/images/python.png
  app/assets/images/racket.png
  app/assets/images/ruby.png
  app/assets/images/rust.png
  app/assets/images/swift.png
  app/assets/images/typescript.png
Due: none

add test and stub class
  app/controllers/web/google_auth_controller.rb
  app/lib/application_container.rb
  app/lib/configus.rb
  app/lib/google_auth_stub.rb
  app/views/web/shared/_google_one_tap.html.slim
  test/controllers/web/google_auth_controller_test.rb
Due: bundle exec rubocop, bundle exec slim-lint

remove review/show
  app/controllers/web/reviews_controller.rb
  app/views/web/reviews/index.html.slim
  app/views/web/reviews/show.html.slim
  config/routes.rb
  test/controllers/web/reviews_controller_test.rb
Due: bundle exec rubocop, bundle exec slim-lint

add powershell
  app/javascript/lesson/utils/editorUtils.js
  app/javascript/lib/hljs.js
  app/models/language.rb
  config/locales/en.views.yml
  make-compose-app.mk
Due: bundle exec rubocop

add author page
  app/controllers/web/pages_controller.rb
  app/views/web/pages/_about.html.slim
  app/views/web/pages/_authors.html.slim
  app/views/web/pages/_body_about.en.html.slim
  app/views/web/pages/_body_about.ru.html.slim
  app/views/web/pages/_body_authors.en.html.slim
  app/views/web/pages/_body_authors.ru.html.slim
  app/views/web/pages/_body_privacy.en.html.slim
  app/views/web/pages/_body_privacy.ru.html.slim
  app/views/web/pages/_body_tos.en.html.slim
  app/views/web/pages/_body_tos.ru.html.slim
  app/views/web/pages/_cookie_policy.html.slim
  app/views/web/pages/_privacy.html.slim
  app/views/web/pages/_tos.html.slim
  app/views/web/pages/show.html.slim
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: bundle exec rubocop, bundle exec slim-lint

add google one tapauth (#350)
  Gemfile
  Gemfile.lock
  app/controllers/web/google_auth_controller.rb
  app/lib/application_container.rb
  app/lib/configus.rb
  app/lib/google_auth_stub.rb
  app/services/google_auth_service.rb
  app/views/web/home/index.html.slim
  app/views/web/shared/_google_one_tap.html.slim
  config/locales/en.flash.yml
  config/locales/ru.flash.yml
  config/routes.rb
  test/controllers/web/google_auth_controller_test.rb
Due: bundle exec rubocop, bundle exec slim-lint

update deps
  Gemfile.lock
  package-lock.json
  package.json
Due: none

add color background to language images (#348)
  app/assets/images/bash.png
  app/assets/images/clang.png
  app/assets/images/clojure.png
  app/assets/images/cpp.png
  app/assets/images/csharp.png
  app/assets/images/css.png
  app/assets/images/elixir.png
  app/assets/images/fortran.png
  app/assets/images/go.png
  app/assets/images/haskell.png
  app/assets/images/html.png
  app/assets/images/java.png
  app/assets/images/javascript.png
  app/assets/images/kotlin.png
  app/assets/images/lua.png
  app/assets/images/ocaml.png
  app/assets/images/perl.png
  app/assets/images/php.png
  app/assets/images/prolog.png
  app/assets/images/python.png
  app/assets/images/racket.png
  app/assets/images/ruby.png
  app/assets/images/rust.png
  app/assets/images/swift.png
  app/assets/images/typescript.png
Due: none

show authors page in header
  app/views/layouts/shared/_nav.html.slim
  config/locales/en.layouts.yml
  config/locales/ru.layouts.yml
Due: bundle exec slim-lint

update gemfile lock
  Gemfile.lock
Due: none

:rocket: deploy
  k8s/hb-app-chart/values.yaml
Due: none

fix dropdown menu styles in header
  app/views/layouts/shared/_nav.html.slim
Due: bundle exec slim-lint

add d lang
  app/javascript/lesson/utils/editorUtils.js
  app/javascript/lib/hljs.js
  app/models/language.rb
  config/locales/en.views.yml
  make-compose-app.mk
Due: bundle exec rubocop

set google creds
  Makefile
  ansible/production/group_vars/all/vault.yml
  ansible/templates/secrets.auto.tfvars.j2
  app/controllers/web/google_auth_controller.rb
  app/lib/configus.rb
  app/views/web/shared/_google_one_tap.html.slim
  k8s/hb-app-chart/templates/console.deployment.yaml
  k8s/hb-app-chart/templates/deployment.yaml
  terraform/secrets.tf
  terraform/variables.tf
Due: bundle exec rubocop, bundle exec slim-lint

move google one tap script to footer
  app/views/web/shared/_google_one_tap.html.slim
Due: bundle exec slim-lint

fix padding
  app/views/web/home/index.html.slim
  app/views/web/shared/_languages.html.slim
Due: bundle exec slim-lint

fix padding (#359)
  app/views/web/home/index.html.slim
  app/views/web/shared/_languages.html.slim
Due: bundle exec slim-lint

fix classes
  app/views/web/home/index.html.slim
  app/views/web/shared/_languages.html.slim
Due: bundle exec slim-lint

remove helper
  app/helpers/application_helper.rb
  app/views/web/shared/_languages.html.slim
Due: bundle exec rubocop, bundle exec slim-lint

Fix images (#360)
  app/helpers/application_helper.rb
  app/views/web/home/index.html.slim
  app/views/web/shared/_languages.html.slim
Due: bundle exec rubocop, bundle exec slim-lint

add stub image
  app/assets/images/dlang.png
Due: none

add image whith dark background
  app/assets/images/dlang.png
Due: none

add image d-lang
  app/assets/images/dlang.png
Due: none

image d lang
  app/assets/images/dlang.png
Due: none

fix work flow
  Gemfile.lock
Due: none

add fontmin webpack plugin to reduce size of bootstrap-icons
  app/assets/fonts/bootstrap-icons.ttf
  app/javascript/entrypoints/application.scss
  app/javascript/stylesheets/bootstrap-icons.css
  package-lock.json
  package.json
  webpack.config.js
Due: npx stylelint

reduce size of font devicon
  app/javascript/entrypoints/application.scss
  app/javascript/stylesheets/devicon.css
  webpack.config.js
Due: npx stylelint

hide draft langs from users
  app/controllers/web/home_controller.rb
  app/controllers/web/language_categories_controller.rb
  app/controllers/web/languages_controller.rb
  app/repositories/language/version/info_repository.rb
  app/repositories/language_repository.rb
  test/fixtures/languages.yml
Due: bundle exec rubocop

prepare to add layout designer
  app/assets/images/layout-designer.png
  app/helpers/application_helper.rb
  app/models/language.rb
Due: bundle exec rubocop

fix linter offence
  app/helpers/application_helper.rb
Due: bundle exec rubocop

improve page for the authors
  app/lib/external_links.rb
  app/views/layouts/shared/_footer.html.slim
  app/views/web/pages/_body_authors.en.html.slim
  app/views/web/pages/_body_authors.ru.html.slim
  config/locales/en.layouts.yml
  config/locales/ru.layouts.yml
  config/locales/ru.links.yml
  config/locales/ru.views.yml
Due: bundle exec rubocop, bundle exec slim-lint

update slack community link for en locale
  config/locales/en.links.yml
Due: none

Path conditions:
  bundle exec rubocop: any of: **/*.{rb,rake,axlsx}
  npx stylelint: any of: **/*.scss
  bundle exec slim-lint: any of: **/*.html.slim
