Repository hexlet-basics/hexlet-basics: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop, npx stylelint, bundle exec slim-lint

.lintstagedrc.json:

{
  "**/*.{rb,rake,axlsx}": "bundle exec rubocop",
  "**/*.scss": "npx stylelint",
  "**/*.js?(x)": "npx eslint",
  "**/*.html.slim": "bundle exec slim-lint"
}

fix linter offences
  app/forms/admin/blog_post_form.rb
Due: bundle exec rubocop

add missing translations
  config/locales/ru.views.yml
Due: none

fix 404 page localization
  app/controllers/web/errors_controller.rb
  config/routes.rb
Due: bundle exec rubocop

fix active menu item
  app/helpers/application_helper.rb
Due: bundle exec rubocop

:rocket: deploy
  k8s/hb-app-chart/values.yaml
Due: none

add zeitwerk:check to ci check
  make-app.mk
Due: none

fix class name
  app/helpers/application_helper.rb
  app/lib/html_with_hoc.rb
Due: bundle exec rubocop

remove dashes
  config/locales/en.views.yml
Due: none

:technologist: allow hexletdev domains on config files
  config/environments/development.rb
  services/caddy/Caddyfile
Due: bundle exec rubocop

add todo to caddy config
  services/caddy/Caddyfile
Due: none

add stub for empty reviews and blogposts
  app/views/web/blog_posts/index.html.slim
  app/views/web/reviews/index.html.slim
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: bundle exec slim-lint

fix error of course output in the wrong locale
  app/controllers/web/languages_controller.rb
Due: bundle exec rubocop

update articles
  app/controllers/web/blog_posts_controller.rb
  app/controllers/web/home_controller.rb
  app/controllers/web/language_categories_controller.rb
  app/forms/admin/blog_post_form.rb
  app/helpers/application_helper.rb
  app/models/blog_post.rb
  app/views/web/admin/blog_posts/_form.html.slim
  app/views/web/blog_posts/index.html.slim
  app/views/web/blog_posts/show.html.slim
  app/views/web/home/_blog_posts.html.slim
  app/views/web/home/index.html.slim
  app/views/web/language_categories/show.html.slim
  app/views/web/languages/show.html.slim
  app/views/web/shared/_blog_posts.html.slim
  app/views/web/shared/_languages.html.slim
  config/locales/en.views.yml
  config/locales/ru.views.yml
  db/migrate/20221210011020_add_description_to_blog_post.rb
  db/schema.rb
  test/factories/blog_posts.rb
  test/fixtures/blog_posts.yml
Due: bundle exec rubocop, bundle exec slim-lint

fix errors
  app/views/web/blog_posts/index.html.slim
  app/views/web/blog_posts/show.html.slim
Due: bundle exec slim-lint

add hoc to blog posts
  app/helpers/application_helper.rb
  app/lib/html_with_hoc.rb
  app/views/web/blog_posts/index.html.slim
Due: bundle exec rubocop, bundle exec slim-lint

generate rake for annotate
  Rakefile
  lib/tasks/auto_annotate_models.rake
Due: bundle exec rubocop

improve make-compose
  make-compose.mk
Due: none

make bin/sorbet executable
  bin/sorbet
Due: none

fix typo
  config/environments/production.rb
Due: bundle exec rubocop

fix lint
  lib/tasks/auto_annotate_models.rake
Due: bundle exec rubocop

add 2-column menu
  .github/workflows/pullrequest.yml
  app/controllers/web/application_controller.rb
  app/helpers/application_helper.rb
  app/javascript/stylesheets/custom.scss
  app/repositories/language/version/info_repository.rb
  app/views/layouts/shared/_language_menu.slim
  app/views/layouts/shared/_nav.html.slim
  config/locales/en.layouts.yml
  config/locales/ru.layouts.yml
Due: bundle exec rubocop, npx stylelint, bundle exec slim-lint

update deps
  Gemfile.lock
  make-compose-app.mk
  package-lock.json
  package.json
Due: none

fix lint-stage command
  make-compose-app.mk
Due: none

cache user count for main page
  app/controllers/web/home_controller.rb
  app/views/web/home/index.html.slim
Due: bundle exec rubocop, bundle exec slim-lint

remove unused ru host var
  ansible/development/group_vars/all/vars.yml
  ansible/templates/environment.j2
Due: none

fix tests
  Dockerfile.production
  config/initializers/session_store.rb
Due: bundle exec rubocop

fix cookie store settings
  Gemfile
  Gemfile.lock
  config/initializers/session_store.rb
Due: bundle exec rubocop

improve next prev link on lesson
  app/views/web/languages/lessons/_content.html.slim
Due: bundle exec slim-lint

add different separators on different locales on lessons definitions
  app/views/web/languages/lessons/_content.html.slim
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: bundle exec slim-lint

remove useless condition
  app/views/web/languages/lessons/_content.html.slim
Due: bundle exec slim-lint

fix menu classes
  app/views/layouts/shared/_language_menu.slim
Due: none

fix admin panel if current version is nil
  app/models/language.rb
  app/views/web/admin/languages/index.html.slim
Due: bundle exec rubocop, bundle exec slim-lint

deploy
  k8s/hb-app-chart/values.yaml
Due: none
