Repository hexlet-basics/hexlet-basics: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop, npx stylelint, bundle exec slim-lint

valign logo
  app/views/layouts/shared/_nav.html.slim
Due: bundle exec slim-lint

img abs
  app/views/layouts/shared/_nav.html.slim
Due: bundle exec slim-lint

change viewport
  app/assets/images/logo_codica.svg
Due: none

svg
  app/assets/images/logo_codica.svg
Due: none

svg tune
  app/assets/images/logo_codica.svg
Due: none

codica footer
  app/views/layouts/shared/_footer.html.slim
  config/locales/es.layouts.yml
Due: bundle exec slim-lint

footer
  app/views/layouts/shared/_footer.html.slim
  config/locales/es.layouts.yml
Due: bundle exec slim-lint

remove social login
  app/views/web/shared/_via_social_networks.html.slim
Due: bundle exec slim-lint

indent fixed
  config/locales/es.views.yml
Due: none

replace title picture
  app/assets/images/code-basics-coding-es.png
  app/assets/images/code-basics-coding-es1.png
Due: none

revert pic
  app/assets/images/code-basics-coding-es.png
  app/assets/images/code-basics-coding-es1.png
Due: none

img title
  app/assets/images/code-basics-coding-es.png
  app/assets/images/code-basics-coding-es2.png
Due: none

optimize
  app/assets/images/code-basics-coding-es.png
Due: none

fixed img
  app/assets/images/code-basics-coding-es.png
Due: none

link to base domain
  app/views/layouts/shared/_nav.html.slim
Due: bundle exec slim-lint

links
  app/views/layouts/shared/_nav.html.slim
Due: bundle exec slim-lint

Update _gtm_head.html.slim
  app/views/layouts/deps/_gtm_head.html.slim
Due: bundle exec slim-lint

hardcode gtm key
  app/views/layouts/deps/_gtm_body.html.slim
Due: bundle exec slim-lint

revert hardcode
  app/views/layouts/deps/_gtm_head.html.slim
Due: bundle exec slim-lint

revert hardcode
  app/views/layouts/deps/_gtm_body.html.slim
Due: bundle exec slim-lint

add basicos.codica.la domain
  config/environments/development.rb
Due: bundle exec rubocop

config basicos.codica.la
  services/caddy/Caddyfile
Due: none

fixed cert name error
  services/caddy/Caddyfile
Due: none

changed url
  config/locales/es.mailers.yml
Due: none

mail and domain settings fix
  app/lib/configus.rb
  config/environments/development.rb
  config/hexlet_basics.yml
Due: bundle exec rubocop

complete language section moved
  config/locales/es.views.yml
Due: none

files from production
  app/lib/configus.rb
  app/views/layouts/shared/_head.html.slim
  config/environments/development.rb
  config/hexlet_basics.yml
  config/locales/es.mailers.yml
  docker-compose.override.yml
  docker-compose.yml
  services/caddy/Caddyfile
Due: bundle exec rubocop, bundle exec slim-lint

:rocket: deploy
  k8s/hb-app-chart/values.yaml
Due: none

use correct account for clouflare zones
  terraform/cloudflare.tf
  terraform/datasource.tf
Due: none

update deps
  Gemfile
  Gemfile.lock
  app/controllers/concerns/auth_concern.rb
  app/controllers/web/errors_controller.rb
  app/controllers/web/home_controller.rb
  config/initializers/extensions/aasm.rb
Due: bundle exec rubocop

fix
  Gemfile.lock
Due: none

update deps (#426)
  Gemfile
  Gemfile.lock
  app/controllers/concerns/auth_concern.rb
  app/controllers/web/errors_controller.rb
  app/controllers/web/home_controller.rb
  config/initializers/extensions/aasm.rb
Due: bundle exec rubocop

Add rubocop --force-exclusion flag in lint-staged
  .lintstagedrc.json
Due: none

Add rubocop --force-exclusion flag in lint-staged (#427)
  .lintstagedrc.json
Due: none

Add debugger settings to web container
  docker-compose.override.yml
Due: none

Path conditions:
  bundle exec rubocop: any of: **/*.{rb,rake,axlsx}
  npx stylelint: any of: **/*.scss
  bundle exec slim-lint: any of: **/*.html.slim
