Repository hexlet-basics/hexlet-basics: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop, npx stylelint, bundle exec slim-lint

Update links to community
  app/assets/locales/en.js
  app/assets/locales/ru.js
Due: none

fix spaces on locale files
  app/assets/locales/en.js
  app/assets/locales/ru.js
Due: none

revert links in english version
  app/assets/locales/en.js
Due: none

fix 406 http status code pages for search bot
  config/initializers/mime_types.rb
Due: bundle exec rubocop

:rocket: deploy
  k8s/hb-app-chart/values.yaml
Due: none

add telegram community link in footer, remove slack link
  app/lib/external_links.rb
  app/views/layouts/shared/_footer.html.slim
  config/locales/ru.layouts.yml
Due: bundle exec rubocop, bundle exec slim-lint

change link to community on lesson pages
  app/views/web/languages/lessons/show.html.slim
Due: bundle exec slim-lint

remove link to slack community
  config/locales/ru.links.yml
Due: none

make robots.txt only one for all locales
  app/views/web/home/robots.en.text.slim
  app/views/web/home/robots.text.slim
Due: none

add telegram community link in footer, remove slack link (#378)
  app/lib/external_links.rb
  app/views/layouts/shared/_footer.html.slim
  app/views/web/languages/lessons/show.html.slim
  config/locales/ru.layouts.yml
  config/locales/ru.links.yml
Due: bundle exec rubocop, bundle exec slim-lint

update gems
  Gemfile.lock
  config/environments/test.rb
  test/controllers/api/lessons_controller_test.rb
Due: bundle exec rubocop

fix handling uknown page in pages controller
  app/controllers/web/pages_controller.rb
  app/views/web/pages/show.html.slim
Due: bundle exec rubocop, bundle exec slim-lint

fix community link name
  config/locales/ru.layouts.yml
Due: none

fix paths in robots.txt
  app/views/web/home/robots.text.slim
Due: none

fix autocomplete
  app/javascript/entrypoints/autocomplete.js
  app/models/user.rb
  app/views/web/admin/api/users/search.json.jbuilder
Due: bundle exec rubocop

add course link in reviews card on /reviews
  app/views/web/reviews/index.html.slim
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: bundle exec slim-lint

add course link in reviews card on /reviews (#380)
  app/views/web/reviews/index.html.slim
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: bundle exec slim-lint

add utm params to premium link
  app/assets/locales/ru.js
Due: none

remove_last_name_validation
  app/models/review.rb
Due: bundle exec rubocop

add missing translations
  config/locales/en.flash.yml
  config/locales/ru.flash.yml
Due: none

remove_last_name_validation (#382)
  app/models/review.rb
Due: bundle exec rubocop

fix typo
  config/locales/en.layouts.yml
  config/locales/ru.layouts.yml
Due: none

improve review card on /reviews
  app/controllers/web/reviews_controller.rb
  app/views/web/reviews/index.html.slim
  config/locales/ru.views.yml
Due: bundle exec rubocop, bundle exec slim-lint

fix sorting of all items
  app/controllers/web/reviews_controller.rb
Due: bundle exec rubocop

improve review card on /reviews (#384)
  app/controllers/web/reviews_controller.rb
  app/views/web/reviews/index.html.slim
  config/locales/ru.views.yml
Due: bundle exec rubocop, bundle exec slim-lint

fix translations
  config/locales/en.views.yml
Due: none

makefiles to compose v2
  make-compose-app.mk
  make-compose.mk
Due: none

fix version
  README.md
Due: none

Add aria-label for social list
  app/views/layouts/shared/_footer.html.slim
Due: bundle exec slim-lint

update perl images
  app/assets/images/perl.png
  app/assets/images/perl.svg
Due: none

update rust images
  app/assets/images/rust.png
  app/assets/images/rust.svg
Due: none

Path conditions:
  bundle exec rubocop: any of: **/*.{rb,rake,axlsx}
  npx stylelint: any of: **/*.scss
  bundle exec slim-lint: any of: **/*.html.slim
